<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ config.title }}</title>
  <link rel="preload" href="{{ get_url(path='fonts/lmroman10-regular-subset.woff2') }}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
</head>
<body>
  <nav class="home">
    <a href="{{ config.base_url }}/">Home</a>
  </nav>
  <header>
    <div class="theme">
      <input type="checkbox" id="theme-toggle">
      <label for="theme-toggle"><span class="dark">Dark</span><span class="light">Light</span></label>
    </div>
    {%- block header %}{% endblock header %}
  </header>
  <main>
    {%- block content %}{% endblock content %}
  </main>
  <footer>
    <p>Set in Latin Modern, based on Donald E. Knuth’s Computer Modern.</p>
  </footer>
</body>
</html>
