{% extends "base.html" %}

{% block header %}
    <h1>{{ page.title }}</h1>
    <p class="author">{{ config.title }}</p>
{%- endblock header %}

{% block content %}
    <section class="abstract">
      <h2>Abstract</h2>
      {{ page.extra.abstract | markdown | trim | safe }}
      <p class="keywords"><strong>Keywords:</strong> {{ page.extra.keywords }}</p>
    </section>
    {{ page.content | trim | safe }}
    {%- if page.higher %}
    <p class="next">Next case study: <a href="{{ page.higher.permalink }}">{{ page.higher.title }}</a></p>
    {%- endif %}
{%- endblock content %}
